<a href="https://colab.research.google.com/github/dhruvcshekar/Python-data-analysis-and-visualization/blob/main/data_parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('hw_file.csv')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [ ]:
df.tail()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [ ]:
df.sort_index(axis=1,ascending= True)

,BMI,BPMeds,TenYearCHD,age,cigsPerDay,currentSmoker,diaBP,diabetes,education,glucose,heartRate,male,prevalentHyp,prevalentStroke,sysBP,totChol
0,26.97,0.0,0,39,0.0,0,70.0,0,4.0,77.0,80.0,1,0,0,106.0,195.0
1,28.73,0.0,0,46,0.0,0,81.0,0,2.0,76.0,95.0,0,0,0,121.0,250.0
2,25.34,0.0,0,48,20.0,1,80.0,0,1.0,70.0,75.0,1,0,0,127.5,245.0
3,28.58,0.0,1,61,30.0,1,95.0,0,3.0,103.0,65.0,0,1,0,150.0,225.0
4,23.10,0.0,0,46,23.0,1,84.0,0,3.0,85.0,85.0,0,0,0,130.0,285.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,22.00,NaN,0,48,20.0,1,72.0,0,2.0,86.0,84.0,0,0,0,131.0,248.0
4236,19.16,0.0,0,44,15.0,1,87.0,0,1.0,NaN,86.0,0,0,0,126.5,210.0
4237,21.47,0.0,0,52,0.0,0,83.0,0,2.0,107.0,80.0,0,0,0,133.5,269.0
4238,25.60,0.0,0,40,0.0,0,98.0,0,3.0,72.0,67.0,1,1,0,141.0,185.0
4239,20.91,0.0,0,39,30.0,1,86.0,0,3.0,80.0,85.0,0,0,0,133.0,196.0

In [ ]:
df.groupby(['totChol','sysBP']).mean()

,,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,diaBP,BMI,heartRate,glucose,TenYearCHD
totChol,sysBP,,,,,,,,,,,,,,
107.0,143.0,0.0,70.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,93.0,NaN,68.0,62.0,1.0
113.0,120.0,1.0,38.0,1.0,1.0,20.0,0.0,0.0,0.0,0.0,83.5,30.34,78.0,85.0,0.0
119.0,117.0,1.0,47.0,2.0,1.0,20.0,0.0,0.0,0.0,0.0,78.5,26.40,75.0,78.0,0.0
124.0,138.0,1.0,66.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,91.0,32.33,75.0,96.0,1.0
126.0,152.0,1.0,43.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,96.5,25.65,86.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439.0,145.0,1.0,47.0,2.0,1.0,18.0,0.0,0.0,1.0,0.0,74.0,22.42,100.0,90.0,1.0
453.0,158.0,1.0,42.0,2.0,1.0,15.0,0.0,0.0,1.0,0.0,108.0,28.89,90.0,110.0,0.0
464.0,128.0,0.0,42.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,87.0,22.90,72.0,72.0,1.0
600.0,159.5,0.0,52.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,94.0,28.27,78.0,140.0,1.0
696.0,157.0,1.0,51.0,NaN,1.0,9.0,0.0,0.0,1.0,0.0,87.0,24.44,95.0,84.0,0.0

In [ ]:
pd.get_dummies(df.education)

      1.0  2.0  3.0  4.0
0       0    0    0    1
1       0    1    0    0
2       1    0    0    0
3       0    0    1    0
4       0    0    1    0
...   ...  ...  ...  ...
4235    0    1    0    0
4236    1    0    0    0
4237    0    1    0    0
4238    0    0    1    0
4239    0    0    1    0

[4240 rows x 4 columns]